#body {
    background-color: #3bb4c1;
}

.button {
    background-color: #3bb4c1;
    border-width: 0;
    font-weight: bold;
}

.mynavbar {
    background-color: #048998;
    height: 60px;
    color: white;
    font-weight: bold;
}

.mynavbarform {
    margin-right: 10px;
}

.navtitle {
    align-self: center;
}

.side-menu {
    width: 200px;
    margin-left: 5px;
    margin-top: 30px;
}

.sidemenu-item {
    width: 100%;
    margin-bottom: 5px;
}

.maincontent {
    width: 70%;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 30px;
}

.main-content-card {
    width: 18rem;
}

.board-card {
    width: 250px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.board-card-text {
    margin-left: 5px;
}

.board-main {
    width: 100%;
    height: 100%;
}

.board-section {
    background-color: #e9e4e6;
    border-radius: 5px;
    width: 272px;
    min-width: 40px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.board-section-task-holder {
    width: 272px;
    height: 40px;
    margin-bottom: 10px;
}

.board-section-title {
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
}

.board-task {
    margin-left: 8px;
    background-color: #f6f5f5;
    width: 256px;
    height: 50px;
    border-radius: 5px;
    padding: 2px;
}

.board-task-title {
    vertical-align: middle;
}